.folder {
  width: 500px;
  height: 400px;
  background-color: white;
  position: relative;
  color: black;
  left: 30%;
  top: 10%;
  border: solid darkgrey;
  box-shadow: 1.5px 1.5px 1px;

  .edging {
    background-color: red;
    height: inherit;
    z-index: 1;
  }

  .topBar{
    background-color: darkblue;
    height: 20px;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .folderName {
      color: white;
      margin: 1px 3px;
    }

    .close {
      background-color: lightgrey;
      height: 14px;
      width: 14px;
      text-align: center;
      line-height: .95rem;
      margin: 3px;
      box-shadow: 1px 1px; 
    }
  }
}