.folders {
  width: 100vw;
  height: 100vh;
}

.folder {
  width: 500px;
  height: 400px;
  background-color: white;
  position: absolute;
  color: black;
  top: 10%;
  left: 20%;
  border: solid 3px darkgrey;
  box-shadow: 1.5px 1.5px 1px, -.5px -.5px white, -1.5px -1.5px darkgrey;
  display: none;

  .topBar{
    background-color: darkblue;
    height: 20px;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .topBarLeft {
      display: flex;
      justify-content: space-between;
      width: fit-content;
      gap: 10px;
      margin: 2px 3px;
      
      .folderName {
        color: white;
        align-items: center;
        line-height: 1.2;
      }

      img {
        width: 12px;
      }
    }


    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgrey;
      height: 14px;
      width: 14px;
      line-height: 0;
      margin: 3px;
      box-shadow: 1px 1px;
    }
  }
}

#folder2 {
  top: 5%;
  left: 15%;
}

#folder3 {
  top: 18%;
  left: 32%;
}

#folder4 {
  top: 22%;
  left: 25%;
}

#folder5 {
  top: 26%;
  left: 34%;
}

#folder6 {
  top: 20%;
  left: 36%;
}

#folder7 {
  top: 34%;
  left: 40%;
}

.displayed {
  display: block;
}