.icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70px;
  margin: 20px 20px;
  text-align: center;
  cursor: url('../img/select.png');
  user-select: none;
  text-align: center;

  .active {
    background-color: blue;
  }

  p {
    display: inline-block;
    padding: 0 2px;
    }
}